.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}
.footer-image {
  height: 25px !important;
  width: 25px !important;
}
.footer-price {
  font-weight: bold;
  font-size: 19px;
  color: #4bd84b;
}
.slider-reating {
  color: orange;
}
