.xl-d10 {
  width: 10%;
}
.xl-d20 {
  width: 20%;
}
.xl-d25 {
  width: 25%;
}
.xl-d30 {
  width: 30%;
}
.xl-d33 {
  width: 33.33%;
}
.xl-d40 {
  width: 40%;
}
.xl-d50 {
  width: 50%;
}
.xl-d60 {
  width: 60%;
}
.xl-d70 {
  width: 70%;
}

.xl-d80 {
  width: 80%;
}
.xl-d90 {
  width: 90%;
}
.xl-d100 {
  width: 100%;
}
